opencv-python==4.6.0.66
monai
medmnist
torch
torchvision
pandas
jupyterlab
matplotlib
tensorboard
acsconv
timm
medcam
certifi
cycler
decorator
future
imageio
kiwisolver
Mako
Markdown
MarkupSafe
matplotlib
networkx
nibabel
numpy
opencv-python
packaging
pandas
Pillow
pyparsing
python-dateutil
pytz
PyWavelets
scikit-image
scipy
SimpleITK
six